@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dale's Movie Page</h1>
    <p>Built with ASP.NET Core Razor and MVC</p>
</div>
